{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Inventario-Registro{% endblock title %}

{% block content %}

  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="mb-0">Home</h5>
              </div>
            </div>
            <div class="col-md-12">
              <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Inventario</a></li>
                <li class="breadcrumb-item" aria-current="page">Register</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<div class="container mt-4">
    <h2>➕ Crear Categoría</h2>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success mt-2">Guardar</button>
</form>
</div>

{% endblock content %}

{% block extra_js %}

<script src="{% static "assets/js/plugins/apexcharts.min.js" %}"></script>
<script src="{% static "assets/js/plugins/jsvectormap.min.js" %}"></script>
<script src="{% static "assets/js/plugins/world.js" %}"></script>
<script src="{% static "assets/js/pages/dashboard-default.js" %}"></script>

{% endblock extra_js %}
